@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@800&display=swap');

/* variables */
:root {
  --primary: #42a5f5;
  --secondary: #0777af;
  --dark: #111;
  --white: #fff;
  --light-bg: #f8f8f8;
  --light: #7e7e7e;

  --body-font: 'Noto Sans', sans-serif;
  --heading-font: 'Open Sans', sans-serif;
}

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

/* set default */
body {
  min-height: 100dvh;
  font-family: var(--body-font)
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

p {
  color: var(--light);
}

strong {
  color: var(--secondary)
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.btn {
  font-family: var(--body-font);
  color: var(--secondary);
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 1rem;
  padding: 17px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
}

.container {
  width: min(1180px, 100%);
  margin: 0 auto;
  position: relative;
  padding: 1.25rem;
}

section {
  padding-bottom: 2rem;
}

/* navbar */
.navbar {
  position: relative;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--secondary);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar__menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transition: .5s ease;
}

.navbar__list {
  color: var(--light);
}

.navbar__toggle_menu {
  display: none;
}

/* hero css */
section.hero {
  background: var(--light-bg);
}

.hero__main {
  display: flex;
  margin-top: 1.5rem;
  gap: 2.75rem
}

.hero__text_area {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.hero__title {
  font-size: 2.75rem;
}

.join {
  width: 80%;
}

.hero__bg_area {
  width: 45%;
  padding-left: 1rem;
}

.hero__avatars {
  position: relative;
  height: 50px;
  --to-left: 1.15rem;
  margin-top: 1rem;
}

.img__avatar {
  position: absolute;
}

.img__avatar:nth-child(2) {
  transform: translateX(var(--to-left));
}

.img__avatar:nth-child(3) {
  transform: translateX(calc(var(--to-left) * 2));
}

.img__avatar:nth-child(4) {
  transform: translateX(calc(var(--to-left) * 3));
}

.img__avatar:nth-child(5) {
  transform: translateX(calc(var(--to-left) * 4));
}

.img__avatar:nth-child(6) {
  transform: translateX(calc(var(--to-left) * 5));
}

.img__avatar:nth-child(7) {
  transform: translateX(calc(var(--to-left) * 6));
}

.img__avatar:nth-child(8) {
  transform: translateX(calc(var(--to-left) * 7));
}

.img__avatar:nth-child(9) {
  transform: translateX(calc(var(--to-left) * 8));
}

.hero__btns_area {
  display: flex;
  margin-top: 1rem;
}

/* features css */
.features {
  padding-top: 1rem;
}

.section__title {
  font-size: 1.75rem;
}

.features__card {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 2rem;
}

.card {
  border: 1px solid #cccccc;
  padding: 1.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.card__emoji {
  font-size: 1.75rem;
}

.card h3 {
  font-size: 1.1rem;
}

/* pricing css */
.pricing h2,
.pricing p {
  text-align: center;
}

.pricing p {
  margin-top: .5rem;
}

.pricing__cards {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__card {
  width: min(500px, 100%);
  border: 1px solid orange;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: var(--light-bg);
}

.pricing__card p,
.pricing__card h2 {
  align-self: start;
  font-size: 1.5rem;
}

.pricing__card h2 {
  font-size: 2.75rem;
}

small {
  color: var(--light);
  font-weight: 400;
  font-size: 1.5rem;
}

.pricing__features {
  list-style: none;
}

.pricing__features li {
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: .75rem 0;
  color: var(--light);
}

hr {
  margin: 1rem 0;
}

/* responsive */
@media screen and (max-width: 920px) {
  html {
    font-size: 16px;
  }

  .hero__main {
    flex-direction: column;
  }

  .hero__main>div {
    width: 100%;
    padding: 0;
  }

  .hero__bg_area {
    order: -1;
  }
}

@media screen and (max-width: 500px) {
  .navbar__menu {
    /* display: none; */
    position: absolute;
    flex-direction: column;
    top: 100%;
    max-height: 0;
    background-color: var(--white);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    overflow: hidden;
  }

  .navbar__menu.active {
    max-height: 300px;
    /* padding: 2rem 1rem; */
  }

  .navbar__toggle_menu {
    display: inline-block;
  }

  .hero__title {
    font-size: 1.85rem;
  }

  .hero__btns_area {
    flex-direction: column;
  }

  /* features */
  .features__card {
    grid-template-columns: 1fr;
  }
}